@model ProyectoRestaurante.DB.Entities.Reservacion

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Reservacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FecReserva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FecReserva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdClienteNavigation.Ap1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMenuNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMenuNavigation.DscMenu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMesaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMesaNavigation.DscMesa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NumReservacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
