@model IEnumerable<ProyectoRestaurante.DB.Entities.Reservacion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FecReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMenuNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMesaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FecReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Ap1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMenuNavigation.DscMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMesaNavigation.DscMesa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NumReservacion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NumReservacion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NumReservacion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
