@model IEnumerable<ProyectoRestaurante.DB.Entities.Valoracion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdClienteNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMenuNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Comentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdClienteNavigation.Ap1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMenuNavigation.DscMenu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdValoracion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdValoracion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdValoracion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
